body{
    background: #3b9eaf;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial;
}

a{
    padding: 10px 15px;
    background: #297c89;
    border: 0;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}

a:hover{
    background: dark(#297c89, 10);
}